<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">The ideas app</h1>
  <div class="col-lg-6 mx-auto">
<!--    <p class="lead mb-4">Welcome to my ideas app!</p> -->
    <style>
      /* 地図のコンテナ */
      #gmap2 {
        width: 80%;        /* 横幅を画面全体に */
        height: 500px;      /* 高さを500pxに設定 */
        background-color: gray; /* デバッグ用に背景色を設定（地図が表示されない場合の確認用） */
        border: 1px solid #000; /* 枠線を設定 */
        align: center;
      }
    </style>


    <center><div id="gmap2"></div></center>

    <script async src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY']%>&callback=initMap"></script>
    <script>
      function initMap() {
        var mapPosition = new google.maps.LatLng(35.4958255, 133.0267176); // 緯度経度(最初)
//        var positionAry = [];
//        positionAry.push(new google.maps.LatLng(35.49618854011678,133.02325287572089)); //松江高専
        const positionAry=[
          {lat:35.49627719300208, lng:133.02559767854345,title:"松江高専"},
          {lat:35.494648114547715, lng:133.02729819888188,title:"生馬公民館"},
          {lat:35.49491890199542, lng:133.0258068908248,title:"生馬小学校"},
          {lat:35.49523638765758, lng:133.0295074970851,title:"松江清心養護学校"}
        ];
        var map = new google.maps.Map(document.getElementById('gmap2'), {
          zoom: 17, // ズーム
          center: mapPosition
        });
//        var marker = new google.maps.Marker({
//          position: positionAry[0],
//          map: map
//        });
        var markerAry=[];
//        var infoWindowAry=[];

        positionAry.forEach(pos => {
          markerAry.push(new google.maps.Marker({
            position: {lat:pos.lat,lng:pos.lng},
            map:map,
            title:pos.title
          }));

 //         infoWindowAry.push(new google.maps.infoWindow({
 //           content: `<h3>${location.title}</h3>`
 //         }));

        });
      }
    </script>
  </div>
</div>