<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">The ideas app</h1>
  <div class="col-lg-6 mx-auto">
<!--    <p class="lead mb-4">Welcome to my ideas app!</p> -->
    <style>
      /* 地図のコンテナ */
      #gmap2 {
        width: 80%;        /* 横幅を画面全体に */
        height: 500px;      /* 高さを500pxに設定 */
        background-color: gray; /* デバッグ用に背景色を設定（地図が表示されない場合の確認用） */
        border: 1px solid #000; /* 枠線を設定 */
        align: center;
      }
    </style>


    <center><div id="gmap2"></div></center>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDySg1P1qPwO2Jwp0tTGmxiSzgAN7VYAf8&callback=initMap"></script>
    <script>
      function initMap() {
        var mapPosition = new google.maps.LatLng(35.4958255, 133.0267176); // 緯度経度(最初)
        var map = new google.maps.Map(document.getElementById('gmap2'), {
          zoom: 17, // ズーム
          center: mapPosition
        });
        var marker = new google.maps.Marker({
          position: mapPosition,
          map: map
        });
      }
    </script>
  </div>
</div>